<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-light my-1">
      <div class="container-fluid">
        <%= image_tag "website_logo.png", alt: "Movie Watchlist", class: "navbar-brand", height: 60 %>
        <div class="d-flex gap-2">
          <%= link_to "My List", root_path, class: "btn btn-outline-primary" %>
          <%= link_to "New List", new_list_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
